<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">666</td>
        <td th:text="${author.firstName}">Donkey</td>
        <td th:text="${author.lastName}">Kong</td>
        <td th:text="${author.books.size()}">5</td>
    </tr>
</table>

</body>
</html>
